<style>
    
    .container2 {
        position: center;
        margin-left: 0em;
        width: 100%;
        height: 300px;
        padding: 30px;
        padding-left:28em;
        background-color: #307082;
        color: white;
        font-size: 18px;
        font-weight: 2em;
    }

    .container2 button{
        color: white;
    }

    .title{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    .author{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
    }
    .des{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-left: 2em;
        margin-right: 2em;
    }
    
    .image img{
        height: 250px;
    }

    a {
        font-size: 2.5em;
        font-family: 'Times New Roman', Times, serif;
    }

    .nav-link {
        color: white;

    }

    .container1 {
        width: 50%;
        margin-left: 25em;
        text-align: center;
        align-items: center;
        
    }

    .look {
        background: url("/images/books.jpg");
        opacity: 0.8;
        height: 500px;
        
    }

    .input1 {
        margin-top: 15em;
        margin-bottom: 5em;
        margin-left: 8em;
    }

    .nav {
        background-color: #307082;
    }

    
    .content h1 {
        font-family: 'Times New Roman', Times, serif;
        
        text-align: center;
        color: black;
        font-size: 50px;
    }

    .content p {
        font-family: 'Times New Roman', Times, serif;
       
        text-align: center;
        color: black;
        font-size: 20px;
        margin: 5em;
    }
    
    .nav-item2 {
        margin-left: 35px;
    }

    .nav-item3 {
        margin-left: 35px;
    }
    .nav-item4 {
        margin-left: 35px;
    }
    .nav-item5 {
        margin-left: 35px;
    }

    .divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #126870;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
body {
    margin: 0; 
    background-color: #e6f3f5;
}

</style>